
header.head
    .flex
        h1 #{title}
        .search
            input(type='text' placeholder='Search . . .' required='')
    nav
        ul
            li
                a.active(href='index.html') Home
            li
                a(href='shop.html') Shop
            li
                a(href='#') Cart
            li
                a(href='#') About
            li
                a(href='#') Contact
        ul.sign
            li
                a(href='Sign Up.html') Sign Up
            li
                a(href='logIn.html') Log In