
header.head
    .flex
        h1 #{title}
        .search
            input(type='text' placeholder='Search . . .' required='')
    nav
        ul
            li
                a(href='/home') Home
            li
                a(href='/shop') Shop
            li
                a(href='#') Cart
            li
                a(href='#') About
            li
                a(href='#') Contact
        if user 
            ul.sign
                li 
                    a(href='/updateMe')
                        span=user.name.firstname
                li
                    a(href='#') Log Out
        else 
            ul.sign
                li
                    a(href='/register') Sign Up
                li
                    a(href='/login') Log In