@import url(https://fonts.googleapis.com/css?family=Poppins&effect=poppins|outline|emboss|shadow-multiple);

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Poppins;
  line-height: 1.5;
}

header {
  background-color: #f5f6fa;
  padding: 20px;
}
.head .search {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #080808);
  padding-left: 20px;
}

.head .search:after {
  content: "";
  background: rgb(0, 0, 0);
  width: 4px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: -3px;
  transform: rotate(135deg);
}

.head .search input {
  color: rgb(0, 0, 0);
  font-size: 16px;
  background: transparent;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: solid 3px #000000;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}
.head .search input::placeholder {
  color: #000000;
  opacity: 0.2;
  transition: opacity 150ms ease-out;
  padding-left: 4px;
}
.head .search input:focus {
  opacity: 1;
}
.search input:focus,
.search input:not(:placeholder-shown) {
  width: 250px;
}
.head .flex {
  display: flex;

  align-items: center;
}
.head nav ul {
  display: flex;
  justify-content: center;

  list-style-type: none;
}

.head nav ul li {
  display: inline;
  margin-right: 50px;
}

.head nav ul li a {
  position: relative;
  color: #2b2a2a;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.head nav ul li a:after {
  content: "";
  position: absolute;
  background-color: #a0c4e2;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}
.head nav ul li a:hover {
  color: #033438;
}
.head nav ul li a:hover:after {
  width: 100%;
}
.head .sign {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 8%;
  right: 2%;
}
.head .sign li {
  font-size: 20px;
  font-family: "Lucida Sans";
  padding: 5px;
  /* border: 2px solid;
  background: #aed1e6;
  border-radius: 10px;
  color: #2b2a2a; */
}
.head nav .active:after {
  content: "";
  position: absolute;
  background-color: #a0c4e2;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

footer {
  margin-top: 40px;

  background-image: linear-gradient(to right, #cfe8ef, #aed1e6);
  color: #2b2a2a;
  padding: 10px;
  text-align: center;
}
